@import '../../style/vars.scss';

.section {
  padding-bottom: 20px;
}

.title__container {
  display: flex;
  align-items: center;

  padding-top: 25px;

  margin-bottom: 15px;
}

.title {
  margin-right: 20px;

  font-size: 1.5em;
  font-weight: 600;
  color: map-get($textColors, 'primary');
}

.selector__light,
.selector__dark,
.selector__red {
  position: relative;

  display: flex;
  align-items: center;

  max-width: 610px;

  border: 1px solid var(--textBlue);
  border-radius: 30px;
  overflow: hidden;

  z-index: 0;
}

.selector__red {
  border: 1px solid var(--textRed);
}

.activeTitle__light,
.activeTitle__dark,
.activeTitle__red,
.disableTitle__light,
.disableTitle__dark,
.disableTitle__red {
  margin: 0;
  padding: 4px 20px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--textBlack);
  cursor: pointer;

  z-index: 10;
  transition: color var(--effectLongTimer) var(--effectFunction);
}

.activeTitle__light {
  color: var(--textBlue);
}

.disableTitle__dark,
.disableTitle__red {
  color: var(--textWhite);
}

.activeTitle__dark,
.activeTitle__red {
  color: var(--textWhite);
}

.select__input {
  display: none;
}

.backGroung__light,
.backGroung__dark,
.backGroung__red {
  position: absolute;
  height: 30px;

  background-color: var(--bgPrimary);
  border-radius: 30px;

  transition: all map-get($effect, 'timer') map-get($effect, 'function');

  z-index: -1;
}

.backGroung__dark {
  background-color: var(--bgBlue);
}

.backGroung__red {
  background-color: var(--bgRed);
}
