@import '../../style/vars.scss';

.input__container {
  position: relative;
  display: flex;
  gap: 16px;
}

.input__light,
.input__dark,
.input__red {
  display: block;
  padding: 10px 20px;

  width: 100%;

  line-height: 46px;
  font-size: 16px;
  color: var(--textBlack);

  height: 46px;
  border: 1px solid rgba(1, 180, 228, 1);
  border-radius: 30px;
}

.input__red {
  border: 1px solid var(--bgRed);
}

.button__clear {
  position: absolute;
  top: 50%;
  right: 130px;

  padding: 0;
  margin: 0;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 30px;
  height: 30px;

  background-color: #fff;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  transform: translateY(-50%);

  transition: background-color map-get($effect, 'timerIcons')
    map-get($effect, 'function');

  &:hover {
    background-color: map-get($bgColors, 'gray');
  }
  &:active {
    background-color: map-get($bgColors, 'modal');
  }
}

.button__search__light,
.button__search__dark,
.button__search__red {
  padding: 10px 26px !important;
  min-height: 47px !important;

  border: none;
  border-radius: 30px;

  font-family: 'Source Sans Pro', Arial, sans-serif !important;
  font-size: 16px;
  font-weight: 700 !important;
  color: var(--textWhite);

  background-color: var(--bgBlue);

  transition: background-color var(--effectTimer) var(--effectFunction);

  &:hover,
  &:focus {
    background-color: var(--bgBlue);
  }
}

.button__search__red {
  background-color: var(--bgRed);

  &:hover,
  &:focus {
    background-color: var(--bgRed);
  }
}
