.section {
  background-position: left calc((50vw - 170px) - 340px) top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding: 20px 0 20px 0;

  background-image: linear-gradient(
    to right,
    rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 31.5, 31.5, 0.84) 30%,
    rgba(31.5, 31.5, 31.5, 0.84) 100%
  );
}

.details__btn {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 24px;

  font-size: 16px;

  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: silver;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.details__icon {
  margin-right: 16px;
}

.details__container {
  display: flex;
}

.details__container {
  margin-bottom: 20px;
}
.details {
  padding: 20px;
}

.details p,
.details b {
  display: block;
  margin-bottom: 12px;

  color: var(--textWhite);
}

.details b {
  font-size: 24px;
  margin-bottom: 8px;
}
.details__title {
  margin-bottom: 2px;

  font-size: 35px;
  font-weight: 700;
  color: var(--textWhite);
}

.additional {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  padding-top: 12px;
}

.additional__link {
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 24px;
  padding: 0;

  color: var(--textWhite);

  li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 4px;
    height: 4px;

    transform: translateY(-50%);

    background-color: var(--bgWhite);
    border-radius: 50%;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  font-size: 19px;
  font-weight: 600;
  color: var(--textWhite);
  white-space: normal;

  border-radius: 6px;
  transform: translateY(-14px);

  transition: opacity 250ms linear, transform 250ms linear;
}

.rating__text__light,
.rating__text__dark,
.rating__text__red {
  margin: 0 !important;
  color: var(--textWhite);
}

.rating__text__light {
  color: var(--textWhite);
}

.rating__text__dark {
  color: var(--textWhite);
}

.rating__text__red {
  color: var(--textRed);
}

.rating__icon__light,
.rating__icon__dark,
.rating__icon__red {
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 6px !important;

  color: #fbc02d;
}

.rating__icon__dark {
  color: var(--textBlue);
}

.rating__icon__red {
  color: var(--textRed);
}

.video {
}

.video__button {
  padding: 6px 16px;
}
