.section {
  background-position: center calc((50vw - 120px) - 340px) top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding: 20px 0 20px 0;

  background-image: linear-gradient(
    to right,
    rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 31.5, 31.5, 0.84) 30%,
    rgba(31.5, 31.5, 31.5, 0.84) 100%
  );
}

.image__container {
  margin-bottom: 24px;
}

.image {
  width: 100%;

  background-color: var(--bgGray);
}

.title {
  margin: 0 2px 2px 0;

  font-size: 35px;
  font-weight: 700;
  color: var(--textWhite);
}

.title__date {
  font-weight: 400;
  opacity: 0.7;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 24px;

  color: var(--textWhite);

  li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 4px;
    height: 4px;

    transform: translateY(-50%);

    background-color: var(--bgWhite);
    border-radius: 50%;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;
}

.rating__text {
  margin: 0 !important;

  font-size: 22px;
  font-weight: 600;
}

.overview {
  margin-bottom: 12px;

  font-size: 18px;
  color: var(--textWhite);
}

.overview__text {
  margin-bottom: 16px;

  font-size: 16px;
  color: var(--textWhite);
}

@media screen and (min-width: 767px) {
  .block {
    display: flex;
  }
  .image__container {
    width: 40%;
  }
  .details__container {
    padding: 0 20px;
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .image__container {
    width: 25%;
  }
  .details__container {
    padding: 0 20px;
    width: 75%;
  }
}
