@import '../../style/vars.scss';

.section__container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
}

h2 {
  font-size: 48px;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;

  color: map-get($textColors, 'secondary');
}

h3 {
  margin-bottom: 30px;

  font-size: 2em;
  font-weight: 600;
  line-height: 1;

  color: map-get($textColors, 'secondary');
}

.container {
  position: relative;
}

.input {
  position: relative;
  display: block;
  padding: 10px 20px;

  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);

  height: 46px;
  border: none;
  border-radius: 30px;

  width: 100%;
}

.list {
  position: absolute;
  width: 100%;
}

.options {
  position: absolute;
  top: 50%;
  right: -2px;

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  height: 100%;

  transform: translateY(-50%);
}

.button__clear {
  padding: 0;
  margin: 0;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 30px;
  height: 30px;

  background-color: #fff;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color map-get($effect, 'timerIcons')
    map-get($effect, 'function');

  &:hover {
    background-color: map-get($bgColors, 'gray');
  }
  &:active {
    background-color: map-get($bgColors, 'modal');
  }
}

.button__open {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: map-get($bgColors, 'white');
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: transform map-get($effect, 'timer') map-get($effect, 'function'),
    background-color map-get($effect, 'timerIcons') map-get($effect, 'function');

  &:hover {
    background-color: map-get($bgColors, 'gray');
  }
  &:active {
    background-color: map-get($bgColors, 'modal');
  }
}

.button__close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: map-get($bgColors, 'white');
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transform: rotate(180deg);
  transition: transform map-get($effect, 'timer') map-get($effect, 'function'),
    background-color map-get($effect, 'timerIcons') map-get($effect, 'function');

  &:hover {
    background-color: map-get($bgColors, 'gray');
  }

  &:active {
    background-color: map-get($bgColors, 'modal');
  }
}

.button__search {
  display: block;

  height: 47px;
  padding: 10px 26px;
  border: none;
  border-radius: 30px;

  color: #fff;
  font-weight: 700;
  cursor: pointer;

  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );

  transition: color map-get($effect, 'timer') map-get($effect, 'function');

  &:hover {
    color: black;
    background: linear-gradient(
      to right,
      rgba(30, 213, 169, 0.8) 0%,
      rgba(1, 180, 228, 1) 100%
    );
  }
}
