.actorsList {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  list-style: none;
}

.actorsList__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.actorsList__img {
  display: block;
  margin-right: 20px;
}

.actorsList__other {
  border-bottom: 1px solid #6c757d;
}

.image {
  display: block;
  padding-top: 4px;

  width: 100%;
}
