.section {
  margin-bottom: 16px;
  padding-top: 16px;
}

.title {
  margin-bottom: 12px;

  font-size: 24px;
}

.card {
  padding: 4px;
}

.link__light,
.link__dark,
.link__red {
  display: block;
  text-decoration: none;

  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

  &:hover .card__name,
  &:focus .card__name,
  &:hover .card__character,
  &:focus .card__character {
    color: var(--textBlue);
  }
}

.link__red {
  &:hover .card__name,
  &:focus .card__name,
  &:hover .card__character,
  &:focus .card__character {
    color: var(--textRed);
  }
}

.card__container {
  background-color: #6c757d;
}

.card__image {
  display: block;
  margin-bottom: 6px;

  width: 100%;
}

.card__tumb {
  padding: 8px;
}

.card__name {
  margin-bottom: 2px;

  font-size: 16px;
  font-weight: 700;

  transition: color var(--effectTimer) var(--effectFunction);
}

.card__character {
  transition: color var(--effectTimer) var(--effectFunction);
}
