.container {
  display: flex;
  padding-top: 16px;
}

.container__image {
  padding: 0 12px;
}

.image {
  border-radius: 12px;
}

.contaner__description {
  display: block;

  overflow: hidden;
}

h2 {
  margin-bottom: 16px;

  font-size: 32px;
}

h3 {
  margin-bottom: 12px;

  font-size: 20px;
}

.text__biography {
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
  padding: 12px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(227, 227, 227, 1);
}

.item__link__light,
.item__link__dark,
.item__link__red {
  margin-right: 8px;

  font-weight: 700;
  text-decoration: inherit;

  transition: color var(--effectTimer) var(--effectFunction);

  &:hover,
  &:focus {
    color: var(--textBlue) !important;
  }
}

.item__link__red {
  &:hover,
  &:focus {
    color: var(--textRed) !important;
  }
}

.item {
  display: flex;
}

.item__date {
  margin: 0 20px 0 12px;
}
