.header {
  position: sticky;
  top: 0;

  z-index: 20;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.container__block {
  display: flex;
  align-items: center;
  gap: 0px;
}

.button {
  display: block;
  padding: 2px 16px !important;

  font-family: 'Source Sans Pro', Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: var(--textWhite) !important;
  white-space: nowrap;
}

@media screen and (min-width: 767px) {
  .container__block {
    gap: 16px;
  }
}
