@import '../../style/vars.scss';

.header {
  background-color: map-get($bgColors, 'primary');
}

.header__container {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;

  margin-right: 12px;
}

.list__menu {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 30px;
}

.list__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 16px 0;
  gap: 30px;
}

.link {
  display: block;
  padding: 16px 0;

  font-size: 18px;
  font-weight: 600;
  color: map-get($textColors, 'secondary');
  text-decoration: none;

  transition: color map-get($effect, 'timer') map-get($effect, 'function');

  &:hover {
    color: map-get($textColors, 'blue');
  }
}

.icon {
  fill: map-get($bgColors, 'green');

  width: 75px;
  height: 75px;
}
