$bgColors: (
  'primary': rgba(3, 37, 65, 1),
  'white': #fff,
  'green': #24cca7,
  'ultramarine': #4a56e2,
  'blue': rgba(1, 180, 228, 1),
  'gray': #f5f5f5,
  'red': #ff6596,
  'error': red,
  'modal': rgba(0, 0, 0, 0.25),
);

$textColors: (
  'primary': #000,
  'secondary': #fff,
  'gray': #bdbdbd,
  'blue': rgba(1, 180, 228, 1),
);

$effect: (
  'timer': 300ms,
  'timerIcons': 100ms,
  'function': ease-in-out,
);

$breakpoints: (
  'responsive': 'max-width: 479px',
  'mobile': 'min-width: 480px',
  'tablet': 'min-width: 767px',
  'computer': 'min-width: 1280px',
);
