:root {
  --bgPrimary: rgba(3, 37, 65, 1);
  --bgWhite: #fff;

  --bgBlue: #01b4e4;
  --bgBlueHover: #40c4ff;
  --bgBlueOpacityHover: rgba(1, 180, 228, 0.8);

  --bgRed: #d50000;
  --bgRedHover: #e53935;
  --bgRedOpacityHover: rgba(213, 0, 0, 0.8);

  --bgPurple: #805be7;
  --bgLightPurple: rgba(128, 91, 231, 0.8);
  --bgGray: #bdbdbd;

  --bgModal: rgba(0, 0, 0, 0.2);
  --bgDarkModal: rgba(0, 0, 0, 0.5);
  --bgModalLinear: rgba(0, 0, 0, 0.6);

  --textBlack: #000;
  --textWhite: #fff;
  --textBlue: #01b4e4;
  --textRed: #d50000;
  --textLinear: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);

  --effectTimer: 300ms;
  --effectLongTimer: 500ms;
  --effectFunction: ease-in-out;
}
