@import '../../style/vars.scss';

.footer {
  padding: 32px 0 48px 0;

  background-color: map-get($bgColors, 'primary');
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}

.icon {
  fill: map-get($bgColors, 'green');

  width: 150px;
  height: 150px;

  transition: transform map-get($effect, 'timer') map-get($effect, 'function');
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 8px 16px;

  font-size: 18px;
  font-weight: 700;
  color: map-get($textColors, 'blue');

  background-color: map-get($bgColors, 'white');
  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: color map-get($effect, 'timer') map-get($effect, 'function'),
    background-color map-get($effect, 'timer') map-get($effect, 'function');

  &:hover,
  &:focus {
    color: map-get($textColors, 'secondary');
    background-color: map-get($bgColors, 'blue');
  }
}

.list {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.list__title {
  margin: 0;

  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: map-get($textColors, 'secondary');
}

.link {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
  color: map-get($textColors, 'secondary');
  text-decoration: none;

  transition: color map-get($effect, 'timer') map-get($effect, 'function');

  &:hover,
  &:focus {
    color: map-get($textColors, 'blue');
  }
}

@media screen and (map-get($breakpoints, 'mobile')) {
  .footer__container {
    display: flex;
    gap: 45px;
  }
}

@media screen and (map-get($breakpoints, 'computer')) {
  .footer__container {
    display: flex;
    flex-direction: row;
  }

  .container__list {
    display: flex;
    gap: 45px;
  }
}
