.section {
  position: relative;
  padding-top: 86px;

  min-height: 750px;

  background-position: top;
  background-size: cover;
}

.container {
  position: relative;
  z-index: 10;
}

.title {
  margin-bottom: 24px;
  max-width: 550px;

  font-size: 64px;

  z-index: 10 !important;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  font-size: 22px;
  font-weight: 600;
  color: var(--textWhite);
  white-space: normal;

  border-radius: 6px;
  transform: translateY(-14px);

  transition: opacity 250ms linear, transform 250ms linear;
}

.rating__text__light,
.rating__text__dark,
.rating__text__red {
  margin: 0 !important;
  color: var(--textWhite);
}

.rating__text__light {
  color: var(--textBlack);
}

.rating__text__dark {
  color: var(--textWhite);
}

.rating__text__red {
  color: var(--textRed);
}

.rating__icon__light,
.rating__icon__dark,
.rating__icon__red {
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 6px !important;

  color: #fbc02d;
}

.rating__icon__dark {
  color: var(--textBlue);
}

.rating__icon__red {
  color: var(--textRed);
}

.genres {
  display: flex;
  gap: 15px;

  margin-bottom: 16px;
}

.genres__item__light,
.genres__item__dark,
.genres__item__red {
  padding: 6px 12px;

  font-size: 16px;
  color: var(--textWhite);

  background-color: var(--bgBlue);
  border-radius: 20px;
}

.genres__item__red {
  background-color: var(--bgRed);
}

.overview {
  margin-bottom: 16px;
  max-width: 550px;

  font-size: 18px;
}

.date {
  margin-bottom: 16px;
  max-width: 550px;

  font-size: 18px;
}

.link__light,
.link__dark,
.link__red {
  display: block;
  padding: 6px 18px;
  max-width: 150px;

  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--textWhite);

  background-color: var(--bgBlue);
  border-radius: 20px;

  transition: background-color var(--effectTimer) var(--effectFunction);

  &:hover,
  &:focus {
    background-color: var(--bgBlueHover);
  }
}

.link__red {
  background-color: var(--bgRed);

  &:hover,
  &:focus {
    background-color: var(--bgRedHover);
  }
}
