.section {
  position: relative;
  padding-top: 86px;

  min-height: 750px;

  background-position: top;
  background-size: cover;
}

.container {
  position: relative;
  z-index: 10;
}

.title {
  margin-bottom: 24px;
  max-width: 550px;

  font-size: 64px;

  z-index: 10 !important;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;
}

.rating__text {
  margin: 0 !important;

  font-size: 22px;
  font-weight: 600;
}

.rating__icon__light,
.rating__icon__dark,
.rating__icon__red {
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 6px !important;

  color: #fbc02d;
}

.rating__icon__dark {
  color: var(--textBlue);
}

.rating__icon__red {
  color: var(--textRed);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 16px;
}

.genres__item {
  padding: 6px 12px;

  font-size: 16px;
  color: var(--textWhite);

  border-radius: 20px;
}

.overview {
  margin-bottom: 16px;
  max-width: 550px;

  font-size: 18px;
}

.date {
  margin-bottom: 16px;
  max-width: 550px;

  font-size: 18px;
}

.link {
  display: block;
  padding: 6px 18px;
  max-width: 150px;

  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--textWhite);

  border-radius: 20px;
}
