@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import '../src/style/vars.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-family: 'Source Sans Pro', Arial, sans-serif !important;
  font-weight: 400;
  line-height: 1.1;
  color: var(--textBlack);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.container.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 767px;
  }

  .container.header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .container.header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

image {
  display: block;
}

/* Styles of slider */
.slick-slide {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.slider {
  height: 100vh !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 36px !important;

  color: var(--bgGray) !important;
}

.slick-prev,
.slick-next {
  width: 70px !important;
  height: 70px !important;

  font-size: 36px !important;

  border-radius: 50%;
  z-index: 10 !important;

  transition: background-color var(--effectTimer) var(--effectFunction) !important;

  &:hover {
    background-color: var(--bgGray) !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// theme modes
.MuiList-root {
  background-color: #e0e0e0;
}

.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
  border: none !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: red;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: #050505 !important;
  color: red;
}

.MuiSelect-select {
  padding: 0 !important;
  margin: 0 !important;
}

.MuiSelect-icon {
  display: none !important;
}

.left-align-slider .slick-track {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: stretch !important;
}

.left-align-slider .slick-slide {
  display: flex !important;
}

// .slick-slide.slick-active.slick-current {
//   width: auto !important;
// }
