@import '../../style/vars.scss';

.title {
  margin-bottom: 20px;

  font-size: 32px;
  font-weight: 700;
}

.text {
  margin-bottom: 20px;

  font-size: 18px;
  color: map-get($textColors, 'white');

  user-select: none;
}

.button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 8px 16px;

  min-width: 90px;
  width: fit-content;

  font-size: 17px;
  color: map-get($textColors, 'secondary');
  text-decoration: none;

  background-color: map-get($bgColors, 'purple');
  border: none;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: map-get($bgColors, 'ligthPurple');
  }
}

.column {
  width: 100%;
}

.list {
  margin-left: 20px;

  color: #fff;

  list-style: disc;
}

.item {
}

@media screen and (map-get($breakpoints, 'mobile')) {
}

@media screen and (map-get($breakpoints, 'tablet')) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .column {
    width: 50%;
  }
}

@media screen and (map-get($breakpoints, 'computer')) {
}
